name: Build and test node

on:
  workflow_call:
    inputs:
      node_version_file:
        description: "Passed to setup-node action to specify where to source the version of node from"
        required: false
        type: string
        default: ".nvmrc"

permissions:
  contents: read

jobs:
  node-unit-test:
    name: Run the node unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ inputs.node_version_file }}
        uses: actions/setup-node@v6
        with:
          node-version-file: ${{ inputs.node_version_file }}
      - name: install dependencies
        shell: bash
        run: |
          npm ci
      - name: unit tests
        id: unit-tests
        shell: bash
        run: |
          npm run test
        # continue-on-error: true
        # Replacing the above with if: always()
      - name: upload the artifacts
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: npm_unit_test_artifacts
          path: test_results/
      - name: fail the action if the tests failed
        if: ${{ steps.unit-tests.outcome == 'failure' }}
        uses: actions/github-script@v8
        with:
          script: |
            core.setFailed('Unit tests failed')
